<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AI@DocuWare</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/DrawChart.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
    <script type="text/javascript">
      myVar = '{{ context | tojson}}';
    </script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/draw.css') }}"
    />
  </head>
  <body onload="init(myVar, 'myChart','switch')">
    <h1>Results</h1>
    <div class="toggle-container">
      <h3>Category</h3>
      <label class="toggle">
        <input class="toggle-checkbox" id="switch" type="checkbox" />
        <div class="toggle-switch"></div>
      </label>
      <h3>Temperament</h3>
    </div>
    <canvas id="myChart"></canvas>
  </body>
</html>
