<!DOCTYPE html>
<html>
  <head>
    <title>AI@DocuWare</title>
  </head>
  <link
    rel="stylesheet"
    href='{{ url_for("static", filename="css/base.css") }}'/>
  <body>
    <h1>Empowering Document Management with AI Brilliance</h1>
    <h2>This is a demo project created by Georgi Danchev</h2>
    <h3>Upload your file</h3>
    <form
      action="{{url_for('upload_file') }}"
      method="POST"
      enctype="multipart/form-data">
      <input type="file" name="file" required />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
